@model GrowSeeds.Web.Data.Entities.PlantData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlantData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantStage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantStage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastWater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastWater)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastFeeding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastFeeding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantMedium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantMedium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
